
<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>XXX</h2>
    <div class="list-group">
      <a class="list-group-item" href="/">YYY</a>
      <a class="list-group-item" href="/">ZZZ</a>
    </div>
  </div>
</div>

