
<% layout('layout') %>

<div class="row">

  <div class="col-md-6">
    <h2>Translation API</h2>
    <div class="list-group">
      <a class="list-group-item" href="/translate">Translate</a>
    </div>
  </div>

  <div class="col-md-6">
    <h2>Text-to-Speech API</h2>
    <div class="list-group">
      <a class="list-group-item" href="/speech/text_to">Text to</a>
    </div>
  </div>

</div>

