
<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>Translate API</h2>
    <div class="list-group">
      <a class="list-group-item" href="/translate">Translate</a>
    </div>
  </div>
</div>

